.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************************************/

body {
  padding-top: 56px;
  font-weight: 300;
  letter-spacing: 0.03em;
  background-color: #f7f7f7;
}

nav.navbar {
  border-bottom: solid 1px #d6d6d6;
  background: #000;
  color: #fff;
}

.navbar .navbar-brand {
  font-weight: 500;
  letter-spacing: 0.065em;
}

.navbar-nav .nav-link {
  letter-spacing: 0.035em;
}

.navbar li.active a {
  font-weight: 400;
}

main.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.spacer {
  height: 40vh;
}

.rectangle {
  position: absolute;
  width: 97vw;
  height: 30vw;
  border-radius: 10px;
  background: linear-gradient(45deg, #69b7bf 25%, #ffe664);
}

@media (min-width: 500px) {
  .rectangle {
    width: 80%;
  }
}
.section > .row > .col {
  max-height: 95vh; 
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#intro .col {
  height: 50vh;
  padding: 9vw 6vw;
  font-size: 16px;
}

@media (min-width: 1000px) {
  #intro .col {
    padding: 18vw 12vw;
    font-size: 2.7vw;
  }
}
#one {
  background-color: #212121;
}

#one .elem {
  opacity: 0;
  letter-spacing: 0.04em;
}

#one .text-block h2 {
  font-size: 5vw;
  letter-spacing: 0.2em;
  font-weight: 300;
  line-height: 1;
}

#one .text-block h5 {
  font-size: 1vw;
  line-height: 1;
}

#one .elem .blocks {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#one .elem .blocks > div {
  height: 20px;
  width: 20px;
  margin: 2px;
  border-radius: 2px;
  background-color: #333;
}

#two {
  height: auto;
  overflow: hidden;
  /* padding: 3vw 15vw 10vw; */
  background: #000;

}

#three, #four {
  position: relative;
  overflow: hidden;
}

#three .image, #four .image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#three p {
  max-width: 50ch;
  margin-top: 20px;
}

#three .image {
  background-image: url("https://www.apple.com/v/ipad-pro/ah/images/overview/experience/hero_enhanced_150__d6c8gtbj3866_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#four .image {
  background-image: url("https://get.wallhere.com/photo/women-portrait-T-shirt-denim-white-nails-simple-background-gray-eyes-black-background-1275159.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
